<div class="whitebox">
  <div class="boxtext">

<h1>About</h1>

Access 2 Senior Living is your source for finding assisted senior living care in the Los Angeles and Orange County areas. We partner with many private homes, residential care centers, and other facilities to give your loved ones a wonderful experience during their golden years. 

Best of all, you can access our services for free. We work directly with our homes, so there's never a cost for you the consumer. If your loved one is in need of care, contact us and we'll find the perfect loving home for the special people in your life.

<h2>Carolyn Novotny</h2>

Carolyn Novotny is the founder of Access 2 Senior Living, and has worked as an accountant for many years prior to entering the field of assisted living.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  </div>
</div>