<div class="whitebox">
  <div class="boxtext">

<h1>Welcome to Access 2 Senior Living</h1>

<p>Your source for locating temporary and permanent residential care for the seniors in your life.</p>

<p>Let our knowledgable staff help you find the best solution for your loved ones. We work with many assisted living facilities throughout Southern California.</p>

<p>Best of all, our services are 100% FREE to use. you've got nothing to lose!</p>


  </div>
</div>
